<div class="buy-panel">

  <h2 class="heading-sub">Coming Soon to Kickstarter</h2>

  <div class="home-form">

    <p>Sign up for a one-time notification when the funding campaign launches. October 2016.</p>

    <div id="mc_embed_signup">
      <form action="//brightcreative.us2.list-manage.com/subscribe/post?u=90b6c525bf4a191bedae2a2c7&amp;id=a38f3b1b72" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <label for="mce-EMAIL">Email Address</label>
      <input class="input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your Email Address">

      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit">
        Sign Me Up
      </button>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

      </form>
    </div>

  </div>

</div>