<footer class="site-footer">

  <div class="wrapper">

    <div class="site-footer-nav">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/usage/">Instructions</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>

      <ul>
        <li><a href="/tasting/">Tasting Library</a></li>
        <li><a href="/tasting/beer-styles/">Beer Styles</a></li>
        <li><a href="/tasting/glossary/">Glossary</a></li>
      </ul>

      <ul>
        <li><a href="/press/">Press</a></li>
        <li><a href="/credits/">Credits</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>

      <ul class="site-footer-social">
        <li class="instagram">
          <a href="https://www.instagram.com/thepalatedeck/">Instagram</a>
        </li>
        <li class="twitter">
          <a href="https://twitter.com/thepalatedeck">Twitter</a>
        </li>
        <li class="facebook">
          <a href="https://facebook.com/palatedeck">Facebook</a>
        </li>
      </ul>

      <ul class="site-footer-buy">
        <li><a href="/buy/" class="button button-reverse button-small">Buy</a></li>
      </ul>
    </div>
 

    <div class="site-footer-cap">
      <p>&copy; Copyright 2016, The Palate Deck <a href="#top">Back to Top</a></p>
  
      <a class="footer-logo" href="/">
        {% include logo.html %}
      </a>
    </div>


  </div>

</footer>