<footer class="site-footer">

  <div class="wrapper">

<!-- 

  This can come later

    <a class="footer-logo" href="/">
      
    </a>

    <ul>
      <li><a href="#">The Palate Deck</a></li>
      <li><a href="#">Using It</a></li>
      <li><a href="#">Tasting Library</a></li>
      <li><a href="#">Buy</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Get In Touch</a></li>
    </ul>

 -->

    <p>&copy; Copyright 2016, The Palate Deck</p>

    <ul class="site-footer-social">
      <li class="twitter">
      	<a href="https://twitter.com/thepalatedeck">Twitter</a>
      </li>
      <li class="facebook">
      	<a href="https://facebook.com/palatedeck">Facebook</a>
      </li>
      <li class="contact">
      	<a href="mailto:info@palatedeck.com">Contact</a>
      </li>
    </ul>

    <!-- <a href="#top">Back to Top</a> -->

  </div>

</footer>
