/*

    Footer styling

*/

.site-footer {

    padding: $spacing-unit 1rem;

    font-size: 0.5 * $base-font-size;
    text-transform: uppercase;

    color: rgba($background-colour, 0.6);
    background-color: $brown-strong;
    background-image:
        linear-gradient(
            to bottom,
            rgba($peach, 0.3) 0%,
            rgba($brown-strong, 0) 100%);

	a {
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover, &:focus {
            opacity: 1;
        }
	}

    @include screen-medium {
        padding: $spacing-unit 0 $spacing-unit / 2 0;
    }

}


.site-footer-nav {

    margin: 0;
    text-align: center;

    ul {
        margin: 0;
    }
    li {
        margin: 0;
        list-style: none;
    }

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    ul {
        flex: 0 1 50%;
    }

    @include screen-small {
        flex-wrap: nowrap;
        text-align: left;
        ul {
            flex: 1 1 20%;
        }
        li {
            margin: 0 0 0 0.25rem;
        }
    }

}


.site-footer-buy {

    min-width: 30%;
    padding-top: 2rem;
    text-align: center;

    .button-small {
        display: inline-block;
        padding: 0.25rem 2rem;
        text-align: center;
        &:hover, &:focus {
            color: $brown-mid;
        }
    }

    @include screen-small {
        text-align: right;
        ul {
            flex: 0 1 20%;
        }
    }
}

@media (max-width: $small) {
    .site-footer-nav .site-footer-buy {
        flex: 0 1 100%;
    }
}

.site-footer-social {

    a {
        display: inline-block;
        padding-left: 24px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        vertical-align: middle;
    }

    .twitter a {
        background-image: url(/images/ico-twitter.svg);
    }
    .facebook a {
        background-image: url(/images/ico-facebook.svg);
    }
    .instagram a {
        background-image: url(/images/ico-instagram.svg);
    }

}

.site-footer-cap {

    padding-top: $spacing-unit;
    text-align: center;

    .footer-logo svg {
        width: 32px;
        height: 32px;
        fill: $background-colour;
    }

    p {
        margin: 0 0 1rem 0;
        letter-spacing: 0.1em;
        a {
            opacity: 0.8;
            &::before {
                content: "|";
                padding: 0 0.5rem;
                opacity: 0.2;
            }

            @include screen-medium {
                display: none;
            }
        }
    }

    @include screen-small {
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        p {
            flex: 50% 1 1;
            margin-bottom: 0;
            text-align: right;
        }
    }

}