/*

    Form element base styling

*/


//
// general site-wide form element styling
//
input, textarea {
	padding: 0.5rem;
	border: solid 1px $brown-mid;

	&:focus {
		border-color: $brown-strong;
		outline: none;
		box-shadow: rgba($brown-strong, 0.25) 0 1px 4px;
	}
}

button {
	padding: 0.5rem 1rem;
	border: solid 1px $red-mid;
	border-radius: 2px;
	color: $background-colour;
	background: $red-mid;

	text-transform: uppercase;

	&:hover, &:focus {
		border-color: $red-strong;
		background-color: $red-strong;
		cursor: pointer;
	}
}


//
// contained form styling
//
.form-row {
	padding: 0 1rem 1rem 1rem;
	text-align: center;

	label, input, textarea {
		width: 100%;
		display: inline-block;
	}
	textarea {
		min-height: $spacing-unit * 4;
	}
	@include screen-small {
		display: flex;
		label {
			flex: 33% 1 1;
		}
		input, textarea {
			flex: 100% 1 1;
		}
	}
	@include screen-medium {
		padding: 0 $spacing-unit $spacing-unit / 2 $spacing-unit;
	}
}
