/*

    Site-wide header, nav, and variations

*/


//
//  Header & Nav
//
.site-header {
  padding: 0;
  background-color: $brown-strong;
  border-bottom: solid 2px $background-colour;

  .wrapper {
    display: flex;
    flex-wrap: nowrap;

    position: relative;
  }

  @include screen-small {
    border-bottom: solid 8px $background-colour;
  }
  @include screen-medium {
    background-color: transparent;
    border-bottom: none;
    .wrapper {
      display: block;
    }
  }
}

.site-title {
  position: absolute;
  display: inline-block;
  padding: 0.5rem 0 0.25rem 0;

  svg {
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    fill: $background-colour;
    opacity: 0.9;
    transition: all 0.15s ease-out;
  }
  &:hover svg {
    opacity: 1;
  }

  @include screen-medium {
    position: absolute;
    top: 1.25rem;
    left: 0;
    padding: 0;

    svg {
      width: 60px;
      height: 60px;
      fill: $red-strong;
    }
    &:hover svg {
      fill: $red-mid;
    }
  }
}
.site-nav {
  flex: 1 1 auto;
  padding: 0.5rem 0;
  text-align: right;

  ul {
    margin: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out, margin-top 0.25s ease-out;

    .header-scripted.header-small & {
      display: flex;
      flex-wrap: wrap;
      background: rgba($brown-mid, 0.2);
    }
  }
  li {
    display: block;
    flex: 50% 0 0;

    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;

    .header-scripted.header-small & {
      text-align: center;
    }

    a {
      display: block;

      color: $background-colour;
      font-family: georgia, serif; // Georgia is just better at this font size
      font-family: $base-font-family;
      font-size: 0.5 * $base-font-size;
      letter-spacing: 0.1rem;
      line-height: 2rem;
      text-transform: uppercase;
      text-decoration: none;

      .header-scripted.header-small & {
        padding: 1rem 0;
      }
    }

    @include screen-medium {
      a {
        // stupid magic numbers for logo alignment
        padding: 7px 0 0 0;
        color: $red-mid;
        &:hover, &:active {
          color: $red-strong;
          text-decoration: underline;
        }
      }
    }
  }


  @include screen-medium {
    text-align: right;
    padding: 1.75rem 0 2rem 0;

    ul {
      display: inline-block;
      background: transparent;
    }
    li {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 1rem;
      a {
        display: inline-block;
      }
    }

  }

}

.site-nav.visible {
  ul {
    margin: 1rem 0 0 0;
  }
}

// weaponize the commerce
.site-nav li.site-nav-buy a {
  // deal with this later
}


// when script is enabled, hide the menu on small screens by default
// (show/hide controlled by script)
@media (max-width: $medium) {
  .header-scripted .site-nav ul {
    max-height: 0;
  }
}


// small screen menu control styling
.site-nav-toggle {
  position: relative;
  display: none;
  margin: 0.15rem 0 0 0;

  &::before {
    position: absolute;
    top: 20px;
    left: 1rem;
    display: inline-block;
    content: "";
    width: 0.75rem;
    height: 2px;
    border-radius: 5px;
    background-color: $background-colour;
    transition: opacity 0.15s ease-out;
  }


  span {
    display: inline-block;
    // deal with this later

    padding: 0.25rem 1rem 0.25rem 2rem;

    font-family: $base-font-family;
    font-size: 0.5 * $base-font-size;
    letter-spacing: 0.1rem;
    line-height: 2rem;

    &:hover {
      background: transparent;
    }

    &::before, &::after {
      position: absolute;
      left: 1rem;
      display: inline-block;
      content: "";
      width: 0.75rem;
      height: 2px;
      border-radius: 5px;
      background-color: $background-colour;
      transition: transform 0.15s linear;
    }
    &::before {
      top: 16px;
      transform-origin: top left;
    }
    &::after {
      top: 24px;
      transform-origin: bottom left;
    }
  }

  &:hover, &:active {
    background-color: rgba($brown-mid, 0.5);
    span {
      color: $background-colour;
    }
  }

  // only show this on small screens
  .header-small & {
    display: inline-block;
  }
}

.site-nav.visible .site-nav-toggle {
  &::before {
    opacity: 0;
  }
  span::before {
    transform: rotate(45deg);
  }
  span::after {
    transform: rotate(-45deg);
  }

}




//
// white variation on specific pages
//

.page-home, .page-about, .page-tasting, .page-instructions, .page-buy {

  .site-title {
    svg {
      fill: $background-colour;
    }
  }

  .site-nav li a {
    color: rgba($background-colour, 0.9);
    &:hover, &:active {
      color: $background-colour;
    }
  }

  .site-nav li.site-nav-buy a {
    background: transparent;
    &:hover, &:focus {
      text-decoration: underline;
    }
    
    @include screen-medium {
      padding: 0 1rem;
      border: solid 1px rgba($background-colour, 0.5);
      border-radius: 2px;
      &:hover, &:focus {
        background-color: $background-colour;
        text-decoration: none;
      }
    }
  }

}






//
// sticky header, kinda-sorta
//
.header-wrap {
  width: 100%;
  opacity: 1;
  transition: 
  top 0.5s cubic-bezier(0.85, -0.30, 0.15, 1.30),
  opacity 0.5s cubic-bezier(0.85, -0.30, 0.15, 1.30);
  @include screen-medium {
    position: absolute;
    padding: 0 8px;
  }
}
.header-scripted {
  @include screen-medium {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    margin: 0.5rem 0 0 0;
    border-left: solid 8px #fff;
    border-right: solid 8px #fff;
  }
}
.header-opaque {
  background-color: rgba($background-colour, 0.9);
}
.header-hidden {
  top: -$spacing-unit * 1.25;
  opacity: 0;
}

