/*

    Blog Page custom elements

*/


//
// header spacing
//
.page-section-blog-intro {
  padding-top: $spacing-unit * 2;

  p {
  	text-align: center;
  }

  @include screen-medium {
    padding-top: $spacing-unit * 5;
  }
}