/*

    Post styling

*/



//
//  THUMBNAIL IMAGES
//  control classes to place blog post thumbnail images
//
.blog-photo-pd-intro {background-image:
    linear-gradient(to bottom, rgba(black, 0.5) 0%, rgba(black, 0.5) 100%),
    url(/images/photo-pd-intro-sm.jpg);
}
.blog-photo-beer-flights {background-image:
    linear-gradient(to bottom, rgba(black, 0.5) 0%, rgba(black, 0.5) 100%),
    url(/images/photo-beer-flights-sm.jpg);
}
.blog-photo-alibi2 {background-image:
    linear-gradient(to bottom, rgba(black, 0.5) 0%, rgba(black, 0.5) 100%),
    url(/images/photo-alibi2-sm.jpg);
}



//
//  BLOG IMAGES
//  control classes to float images within blog posts
//
.blog-image-left {
  @include screen-xsmall {
    float: left;
    max-width: 200px;
    margin: 0 3rem 1rem 0;
  }
}
.blog-image-right {
  @include screen-xsmall {
    float: right;
    max-width: 200px;
    margin: 0 0 1rem 3rem;
  }
}



//
//  POST STYLING
//  light formatting for bloggy pages
//
.page-section-post-intro {
  min-height: 20vh;

  .header-secondary {
    margin: $spacing-unit 0 0 0;
    text-align: left;
    @include screen-medium {
      margin-top: $spacing-unit * 2;
    }
  }
  .post-meta {
    margin: 0.5rem 0 0 0;
    font-family: $alt-font-family;
    font-style: italic;
  }
  .post-meta-date {
    margin: 1rem 0 0 0;
    font-family: $base-font-family;
    font-size: $small-font-size;
    text-transform: uppercase;
  }

  @include screen-medium {
    padding: $spacing-unit 0;
  }
}


.page-section-post-body {
  padding: 0;
  background: rgba($brown-mid, 0.1);

  .button {
    display: inline-block;
    margin: $spacing-unit auto;
  }

}

.post-content {
  padding: $spacing-unit 0 0;
}

.post-back-link {
  display: block;
  padding: $spacing-unit 0 $spacing-unit * 2 0;
  margin-top: $spacing-unit;
  border-top: dotted 1px $peach;
  font-size: $small-font-size;

  .sep {
    display: inline-block;
    margin: 0 0.25rem;
    color: rgba($brown-mid, 0.4);
  }
}
.post-back-initial {
  .post-back-link {
    padding: $spacing-unit / 2 0 0 0;
    margin: 0;
    border-top: none;
    @include screen-medium {
      padding: $spacing-unit * 2.5 0 0 0;
    }
  }
}


@include screen-medium {
  .post-content {
    padding: $spacing-unit 0 0 0;
  }
}



//
// Various content items
//
.definition {

  padding-top: $spacing-unit;
  margin-top: $spacing-unit;
  border-top: dotted 1px $peach;

  h3 {
    margin: 0;
    letter-spacing: 0;
  }

  &.separated dd {
  	padding-bottom: $spacing-unit;
  	margin-bottom: $spacing-unit;
  	border-bottom: dotted 1px $peach;
  }

}

.glass {

	text-align: center;

	img {
		max-width: 110px;
	}

	p {
		text-align: left;
	}

	@include screen-xsmall {
		position: relative;
		padding-right: 120px;
		min-height: 140px;

		img {
			position: absolute;
			right: 0;
			top: 0.5rem;
		}
	}
}

.quote {
  margin: $spacing-unit 0;
  padding: $spacing-unit 0 0 0;
  border-top: dotted 1px $peach;

  &:last-child {
    padding-bottom: $spacing-unit * 2;
    margin-bottom: 0;
  }

  blockquote {
    position: relative;
    padding-left: $spacing-unit * 1.5;
    &::before {
      content: "\201C";
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: 5rem;
      font-weight: bold;
      color: rgba($brown-mid, 0.2);
    }
  }

  footer {
    font-family: $alt-font-family;
    font-size: $small-font-size;
    font-style: italic;
  }
}


.post-listing {

  li {
    opacity: 0.9;
    transition: opacity 0.15s ease-out;
    margin: 0 0 1rem 0;

    list-style: none;
    background-color: rgba($brown-mid, 0.2);
    background-size: cover;
    &:hover {
      opacity: 1;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 80px 20px 30px 20px;

    color: $background-colour;
    text-decoration: none;
  }

  h3, p {
    margin: 0;
  }

  @include screen-small {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 49% 0 1;
      margin: 0 2% 2% 0;      
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

}



//
// Contact form styling
//
.contact-sent{
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: center;
  align-items: center;

  img {
    max-width: 200px;
  }
  padding: 0 $spacing-unit;
}



//
// define some slightly more sane typography
//
.post-content {

  .header-sub {
    margin-top: $spacing-unit;
  }

  .heading-secondary {
    margin-top: 2.5rem;
  }

}


.blog-photo {
  opacity: 0.8;
  display: block;
  margin: 0 0 $spacing-unit 0;
}